<ak-card [total]="total" [when]="title" [indicator]="true">
  <div class="ak-card__content">
    <ol>
      <li *ngFor="let recap of recaps" class="ak-item  ak-item--recap">
        <a class="ak-item__what" [routerLink]="itemLink(recap)">
          <div class="ak-item-percentage  ak-item-percentage--negative ak-item-percentage--border-{{hue}}"
               *ngIf="recap.outTotal" [style.width]="getAppKeepPercentage(recap)"></div>
          <div class="ak-item-percentage  ak-item-percentage--positive ak-item-percentage--border-{{hue}}"
               *ngIf="recap.inTotal" [style.width]="getIncomePercentage(recap)"></div>
          <span class="ak-badge">{{recap.label | akMonthName | lowercase}}</span>
          <span class="ak-badge  ak-badge--{{recap.inTotal + recap.outTotal > 0 ? 'positive' : 'negative'}}">
          {{recap.inTotal + recap.outTotal | akAmount}}
        </span>
        </a>
        <div class="ak-item__amount">
        <span *ngIf="recap.outTotal">
          <span>{{recap.outTotal | akAmount}}</span>
          <ak-income-indicator [income]="false"></ak-income-indicator>
        </span>
          <span *ngIf="recap.inTotal">
          <span>{{recap.inTotal | akAmount}}</span>
          <ak-income-indicator [income]="true"></ak-income-indicator>
        </span>
        </div>
      </li>
    </ol>
    <ng-content></ng-content>
  </div>
</ak-card>
