<ak-card [total]="total" [when]="year" [indicator]="true">
  <ol class="ak-card__content">
    <li *ngFor="let month of yearStatistics.months" class="ak-item  ak-item--recap">
      <div class="ak-item__what">
        <div class="ak-item__percentage  ak-item__percentage-negative ak-item--{{hue}}"
             *ngIf="month.appKeepTotal" [style.width]="getAppKeepPercentage(month)"></div>
        <div class="ak-item__percentage  ak-item__percentage-positive ak-item--{{hue}}"
             *ngIf="month.incomeTotal" [style.width]="getIncomePercentage(month)"></div>
        <span class="ak-badge">{{month.label | akMonthName | lowercase}}</span>
        <span class="ak-badge  ak-badge--{{month.incomeTotal + month.appKeepTotal > 0 ? 'positive' : 'negative'}}">
          {{month.incomeTotal + month.appKeepTotal | akAmount}}
        </span>
      </div>
      <div class="ak-item__amount">
        <span *ngIf="month.appKeepTotal">
          <span>{{month.appKeepTotal | akAmount}}</span>
          <ak-income-indicator [income]="false"></ak-income-indicator>
        </span>
        <span *ngIf="month.incomeTotal">
          <span>{{month.incomeTotal | akAmount}}</span>
          <ak-income-indicator [income]="true"></ak-income-indicator>
        </span>
      </div>
    </li>
  </ol>
</ak-card>
