<section class="ak-items">
  <div class="ak-items__header">
    <div class="ak-items__title">{{when}}</div>
    <div class="ak-items__amount">
      <span>{{total | akAmount}}</span>
      <ak-icon type="stable" class="ak-item__indicator" mood="indifferent"></ak-icon>
    </div>
  </div>
  <ng-container  *ngIf="total; else noAppkeeps">
    <ng-content select=".ak-items__list"></ng-content>
  </ng-container>
  <ng-content select=".ak-items__action"></ng-content>
</section>

<ng-template #noAppkeeps>
  <ak-empty-state [when]="when"></ak-empty-state>
</ng-template>
