<section class="ak-card">
  <div class="ak-card__header">
    <div class="ak-card__title">{{when}}</div>
    <div class="ak-card__amount">
      <span>{{total | akAmount}}</span>
      <ak-icon *ngIf="indicator" type="total" size="small" class="ak-item__indicator" mood="indifferent"></ak-icon>
    </div>
  </div>
  <ng-container  *ngIf="total; else noAppkeeps">
    <ng-content select=".ak-card__content"></ng-content>
  </ng-container>
</section>

<ng-template #noAppkeeps>
  <ak-empty-state [when]="when"></ak-empty-state>
</ng-template>
