<ng-container *ngIf="categories$ | async; let categories">
  <ak-card [total]="incomeTotal + appKeepTotal" [when]="month" [indicator]="true">
    <div class="ak-card__content">
      <ol>
        <li *ngFor="let category of monthStatistics.appKeepCategories; let i = index" class="ak-item">
          <a class="ak-item__what" routerLink="/category/{{category.category}}">
            <div class="ak-item__percentage ak-item--{{category.category | akCategoryHue: categories}}"
                 [style.width]="appKeepPercentage(category)"
                 [attr.data-percentage]="appKeepRelativePercentage(category)"></div>
            <span class="ak-badge">{{category.category | lowercase}}</span>
          </a>
          <div class="ak-item__amount">
            <span>{{category.total | akAmount}}</span>
            <ak-income-indicator [income]="category.total > 0"></ak-income-indicator>
          </div>
        </li>
        <li *ngFor="let category of monthStatistics.incomeCategories; let i = index" class="ak-item">
          <a class="ak-item__what" routerLink="/category/{{category.category}}">
            <div class="ak-item__percentage ak-item--{{category.category | akCategoryHue: categories}}"
                 [style.width]="incomePercentage(category)"
                 [attr.data-percentage]="incomeRelativePercentage(category)"></div>
            <span class="ak-badge">{{category.category | lowercase}}</span>
          </a>
          <div class="ak-item__amount">
            <span>{{category.total | akAmount}}</span>
            <ak-income-indicator [income]="category.total > 0"></ak-income-indicator>
          </div>
        </li>
      </ol>
      <div class="ak-card__action" *ngIf="explorable">
        <a routerLink="/month">
          <ak-icon type="go" size="small"></ak-icon>
        </a>
      </div>
    </div>
  </ak-card>
</ng-container>
