<div class="ak-page">
  <ak-navigation-header class="ak-page__header" [hue]="category.hue">
    <header class="ak-heading">
      <small class="ak-heading__kicker">Category</small>
      <h1 class="ak-heading__title">
        <span>{{category.category}}</span><span *ngIf="year"> ({{month | akMonthName}} {{year}})</span>
      </h1>
    </header>
  </ak-navigation-header>
  <div class="ak-edit  ak-page__content">
    <form class="ak-form">
      <fieldset class="ak-form__inputs">
        <legend class="visually-hidden"></legend>
        <div class="ak-input">
          <div class="ak-input__title">
            <div class="ak-organizer">
              <div class="ak-organizer__fill">Type</div>
              <div class="ak-options-toggle">
                <input type="checkbox" id="type-toggle" name="income" [(ngModel)]="category.income">
                <label for="type-toggle">
                  <div class="ak-options-toggle__background">
                    <ak-icon type="up" size="small" mood="indifferent"></ak-icon>
                    <ak-icon type="down" size="small" mood="indifferent"></ak-icon>
                  </div>
                  <div class="ak-options-toggle__handle"></div>
                </label>
              </div>
            </div>
          </div>
        </div>
        <div class="ak-input">
          <div class="ak-input__title">Colour</div>
          <div class="ak-input-hues">
            <div class="ak-input-hues__hue" *ngFor="let hue of [1,2,3,4,5,6,7,8]">
              <input class="visually-hidden" type="radio" name="hue" id="hue_{{hue}}"
                     [value]="hue" [(ngModel)]="category.hue">
              <label class="ak-hue-{{hue}}" for="hue_{{hue}}"></label>
            </div>
          </div>
        </div>
      </fieldset>
      <div class="ak-form__buttons">
        <button class="ak-button ak-button--primary" (click)="edit()">
          <ak-icon type="save" mood="indifferent"></ak-icon>
          <span>Save</span>
        </button>
        <button class="ak-button" (click)="reset()">
          <ak-icon type="reset"></ak-icon>
          <span>Reset</span>
        </button>
      </div>
    </form>
    <ak-appkeeps-card [appKeeps]="thisMonthAppKeeps$ | async"
                      [total]="thisMonthTotal$ | async"
                      [hue]="category.hue"
                      when="this month {{year ? '(' + (month | akMonthName) + ' ' + year + ')': ''}}"
                      [showDate]="true">
    </ak-appkeeps-card>
    <ak-category-recap-card [recaps]="thisYearStatistics$ | async" title="this year {{year ? '(' + year + ')': ''}}" [category]="category"></ak-category-recap-card>
    <ak-category-recap-card [recaps]="overallStatistics$ | async" title="overall" [category]="category"></ak-category-recap-card>
  </div>
</div>
