<ak-card [total]="total" [title]="title" [indicator]="true">
  <div class="ak-card__content">
    <ol>
      @for (recap of recaps; track recap) {
        <li class="ak-item  ak-item--recap">
          <a class="ak-item__what" [routerLink]="itemLink(recap)">
            @if (recap.outTotal) {
              <div class="ak-item-percentage  ak-item-percentage--border-negative  ak-item-percentage--negative  ak-item-percentage--{{category.hue}}"
              [style.width]="getAppKeepPercentage(recap)"></div>
            }
            @if (recap.inTotal) {
              <div class="ak-item-percentage  ak-item-percentage--border-positive  ak-item-percentage--positive  ak-item-percentage--{{category.hue}}"
              [style.width]="getIncomePercentage(recap)"></div>
            }
            <span class="ak-badge">{{recap.label | akMonthName | lowercase}}</span>
            <span class="ak-badge  ak-badge--{{(recap.inTotal + recap.outTotal) > 0 ? 'positive' : 'negative'}}">
              {{recap.inTotal + recap.outTotal | akAmount}}
            </span>
          </a>
          <div class="ak-item__amount">
            @if (recap.outTotal) {
              <span>
                <span>{{recap.outTotal | akAmount}}</span>
                <ak-income-indicator [income]="false"></ak-income-indicator>
              </span>
            }
            @if (recap.inTotal) {
              <span>
                <span>{{recap.inTotal | akAmount}}</span>
                <ak-income-indicator [income]="true"></ak-income-indicator>
              </span>
            }
          </div>
        </li>
      }
    </ol>
    <ng-content></ng-content>
  </div>
</ak-card>
