<div class="ak-edit">
  <div class="ak-edit__header">
    <h2>Spesa</h2>
    <button class="ak-edit__close">x</button>
  </div>
  <form class="ak-form">
    <fieldset class="ak-form__inputs">
      <legend class="visually-hidden"></legend>
    </fieldset>
    <div class="ak-form__buttons">
      <button class="ak-button ak-button--primary">Save</button>
      <button class="ak-button ">Reset</button>
    </div>
  </form>
  <section class="ak-items">
    <div class="ak-items__header">
      <div class="ak-items__title">This year</div>
      <div class="ak-items__amount">833.72</div>
    </div>
    <ol class="ak-items__list">
      <li class="ak-item">
        <div class="ak-item__what">
          <div class="ak-item__percentage ak-item--1" style="width: 61%"></div>
          <span class="ak-badge">november</span>
        </div>
        <div class="ak-item__amount">585.34</div>
      </li>
      <li class="ak-item">
        <div class="ak-item__what">
          <div class="ak-item__percentage ak-item--1" style="width: 34%"></div>
          <span class="ak-badge">october</span>
        </div>
        <div class="ak-item__amount">234.23</div>
      </li>
    </ol>
  </section>
