<div class="ak-edit">
  <div class="ak-edit__header">
    <h2>{{category.category}}</h2>
    <button class="ak-edit__close" (click)="close()">x</button>
  </div>
  <form class="ak-form">
    <fieldset class="ak-form__inputs">
      <legend class="visually-hidden"></legend>
      <div class="ak-input">
        <div class="ak-input__title">Color</div>
        <div class="ak-edit__hues">
          <div class="ak-edit__hue" *ngFor="let hue of [1,2,3,4,5,6,7,8]">
            <input class="visually-hidden" type="radio" name="hue" id="hue_{{hue}}"
                   [value]="hue" [(ngModel)]="category.hue">
            <label class="ak-item--{{hue}}" for="hue_{{hue}}"></label>
          </div>
        </div>
      </div>
    </fieldset>
    <div class="ak-form__buttons">
      <button class="ak-button ak-button--primary" (click)="edit()">Save</button>
      <button class="ak-button ">Reset</button>
    </div>
  </form>
  <section class="ak-items">
    <div class="ak-items__header">
      <div class="ak-items__title">This year</div>
      <div class="ak-items__amount">833.72</div>
    </div>
    <ol class="ak-items__list">
      <li class="ak-item">
        <div class="ak-item__what">
          <div class="ak-item__percentage ak-item--{{category.hue}}" style="width: 61%"></div>
          <span class="ak-badge">november</span>
        </div>
        <div class="ak-item__amount">585.34</div>
      </li>
      <li class="ak-item">
        <div class="ak-item__what">
          <div class="ak-item__percentage ak-item--{{category.hue}}" style="width: 34%"></div>
          <span class="ak-badge">october</span>
        </div>
        <div class="ak-item__amount">234.23</div>
      </li>
    </ol>
  </section>
</div>
