@if (user$ | async; as user) {
  <div class="ak-header">
    <div class="ak-header__logo  ak-wallet-{{user.info.hue}}">
      <svg viewBox="0 0 1 1">
        <use href="assets/symbols.svg#wallet"></use>
      </svg>
    </div>
    <div>
      <header class="ak-heading">
        <small class="ak-heading__kicker">Hello,</small>
        <h1 class="ak-heading__title">{{user.info.name}}</h1>
      </header>
    </div>
    <a class="ak-header__button" routerLink="/profile">
      <img [src]="user.social.photoUrl" class="ak-header__image" alt="{{user.info.name}}'s avatar">
    </a>
  </div>
}
