<div class="ak-login">
  <div>
    <svg viewBox="0 0 100 100">
      <defs>
        <linearGradient id="sky"
                        x1="0%" y1="0%"
                        x2="0%" y2="100%"
                        spreadMethod="pad">
          <stop offset="0%" stop-color="#006fae" stop-opacity="0.1"/>
          <stop offset="75%" stop-color="#fff" stop-opacity="0.1"/>
          <stop offset="100%" stop-color="#fff" stop-opacity="0.1"/>
        </linearGradient>
        <mask id="login-mask" x="0" y="0" width="100" height="100">
          <circle cx="50" cy="60" r="50" fill="white"></circle>
        </mask>
        <symbol id="logo" viewBox="0 0 100 100">
          <path id="ceiling" d="M18 49 l 32 -32 l 32 32" stroke-width="6" stroke-linecap="square"
                stroke-linejoin="round"
                stroke="#006fae" fill="#006fae">
          </path>
          <path id="stripe" d="M18 69 h 60" stroke-width="10" stroke="#082840"></path>
          <path id="body" d="M85 97 h -70 v -45 h 70 v 45" stroke-width="6" stroke-linecap="round"
                stroke-linejoin="round"
                stroke="#c5c6c9" fill="#c5c6c9"></path>
          <g id="door">
            <path d="M60 72 v 25 h -20 v -25 a 10 10 0 1 1 20 0" stroke-width="6" stroke-linecap="round"
                  stroke-linejoin="round" stroke="#006fae" fill="#006fae">
            </path>
            <circle cx="50" cy="72" r="5" fill="#c5c6c9"></circle>
          </g>
        </symbol>
        <symbol id="tree" viewBox="20 30">
          <path d="M10 5 c 7 20 7 20 0 25 v -25" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                stroke="#00a549" fill="#00a549"></path>
          <path d="M10 30 c -7 -5 -7 -5 0 -25 v 25" stroke-width="1" stroke-linecap="round" stroke-linejoin="round"
                stroke="#00b550" fill="#00b550"></path>
        </symbol>
        <symbol id="back" viewBox="0 0 100 100" mask="url(#login-mask)">
          <rect x="0" y="0" height="100" width="100" fill="url(#sky)"></rect>
          <g id="background">
            <g id="water">
              <path d="M12 82 h 75" stroke-linecap="round" stroke-width="5" stroke="#006fae"></path>
              <path id="stream1" d="M70 83 h 5" stroke-width="1" stroke-linecap="round" stroke="#5cb3db"></path>
              <path id="stream2" d="M25 83 h 5" stroke-width="1" stroke-linecap="round" stroke="#5cb3db"></path>
            </g>
            <path d="M10 80 h 80" stroke-linecap="round" stroke-width="3" stroke="#00b550"></path>
            <use href="#tree" x="13" y="48"></use>
            <use href="#tree" x="5" y="48"></use>
            <use href="#tree" x="75" y="48"></use>
            <circle id="sun" cx="30" cy="30" r="12" fill="#eee337"></circle>
            <g id="clouds">
              <path d="M30 25 h20" stroke-width="10" stroke-linecap="round" stroke-linejoin="round"
                    stroke="#c5c6c9">
              </path>
              <path d="M45 30 h 30" stroke-width="10" stroke-linecap="round" stroke-linejoin="round"
                    stroke="#c5c6c9">
              </path>
            </g>
          </g>
          <use href="#logo" x="30" y="38.5" height="40" width="40"></use>
        </symbol>
      </defs>
      <use href="#back"></use>
    </svg>
  </div>
  <div class="ak-login__form">
    <div>
      <h1 style="margin-bottom: 1rem">Hello again.</h1>
      <div style="margin-bottom: 3rem">Welcome back.</div>
      <button class="ak-button  ak-button--primary  ak-button--login" (click)="signInWithGoogle()">Login</button>
    </div>
  </div>
</div>
