<ng-container *ngIf="categories$ | async; let categories">
  <ak-card [total]="monthlyAppkeepsTotal$ | async" when="Monthly AppKeeps">
    <ol class="ak-items__list">
      <li *ngFor="let appKeep of monthlyAppKeeps$ | async" class="ak-item"
          [ngClass]="{'ak-item--updating': appKeep._updating}">
        <a class="ak-item__what" routerLink="/edit/{{appKeep._id}}">
          <div>{{appKeep.title}}</div>
          <span class="ak-badge  ak-badge--{{appKeep.category | akCategoryHue: categories}}">
          <span>{{appKeep.category | lowercase}}</span>
        </span>
        </a>
        <div class="ak-item__editing" *ngIf="appKeep._updating">updating...</div>
        <div class="ak-item__amount">{{appKeep.amount | akAmount}}</div>
      </li>
    </ol>
    <div class="ak-input  ak-input__interactive  ak-items__action">
      <a href="" class="ak-items__remove" routerLink="monthly">
        <ak-icon type="add"></ak-icon>
      </a>
    </div>
  </ak-card>
</ng-container>
