@if (categories$ | async; as categories) {
  <ak-card [total]="monthlyAppkeepsTotal$ | async" title="Monthly expenses">
    <div class="ak-card__content">
      <ol>
        @for (appKeep of monthlyAppKeeps$ | async; track appKeep) {
          <li class="ak-item"
              [ngClass]="{'ak-item--updating': appKeep._updating}">
            <a class="ak-item__what" routerLink="/monthly/{{appKeep._id}}">
              <div>{{ appKeep.title }}</div>
              <span class="ak-badge  ak-badge--{{appKeep.category | akCategoryHue: categories}}">
                <span>{{ appKeep.category | lowercase }}</span>
              </span>
            </a>
            @if (appKeep._updating) {
              <div class="ak-item__editing">updating...</div>
            }
            <div class="ak-item__amount">{{ appKeep.amount | akAmount }}</div>
          </li>
        }
      </ol>
      <div class="ak-card__action">
        <a routerLink="/monthly">
          <ak-icon type="add" size="small" mood="indifferent"></ak-icon>
        </a>
      </div>
    </div>
  </ak-card>
}
