@use "./mixins/utils";

ak-empty-state {
  flex-grow: 1;
  display: flex;
}

ak-icon {
  @include utils.ak-flex-center();
}

ak-income-indicator, .ak-item__indicator {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

ak-app {
  @include utils.ak-flex-center();
}
