ak-empty-state {
  flex-grow: 1;
  display: flex;
}

ak-icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

ak-income-indicator {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
