@mixin ak-button() {
  padding: $ak-size-m;

  border: 0;

  min-height: $ak-size-xl;
  min-width: $ak-size-xl;

  font-size: inherit;
  line-height: inherit;
  font-family: inherit;
  text-align: center;
  cursor: pointer;
}

.ak-button {
  color: $ak-color-text;
  background-color: inherit;

  width: 100%;

  @include ak-button();

  border-top: 1px solid $ak-color-border;

  &:hover {
    border-color: $ak-color-button-hover;
  }

  &:active {
    border-color: $ak-color-button-active;

    box-shadow: 0 1px 1px 0 $ak-color-shadow;
  }

  &.ak-button--primary {

    color: $ak-color-canvas;
    background-color: $ak-color-text;

    &:hover {
      background-color: $ak-color-button-hover;
    }

    &:active {
      background-color: $ak-color-button-active;
    }
  }
}
