.ak-button {
  color: $ak-color-background;
  background-color: $ak-color-text;

  width: 100%;

  padding: 0.5rem;
  border-radius: 0.5rem;

  font-size: inherit;
  line-height: inherit;
  font-family: inherit;

  border: 1px solid $ak-color-text;

  text-align: center;

  cursor: pointer;

  margin-top: 1rem;

  box-shadow: 0 2px 2px 0 $ak-color-shadow;

  &:hover {
    background-color: $ak-color-button-hover;
    border-color: $ak-color-button-hover;
  }

  &:active {
    background-color: $ak-color-button-active;
    border-color: $ak-color-button-active;

    box-shadow: 0 1px 1px 0 $ak-color-shadow;
  }
}
