.ak-card {
  margin: 0 $ak-size-m;

  margin-bottom: $ak-size-l;
  min-height: 256px;

  background-color: $ak-color-light;
  border-radius: $ak-size-m;

  @include ak-flex-column();

  @include ak-shadow-standard();
}

.ak-card__header {
  display: flex;
  align-items: center;
  padding: $ak-size-s $ak-size-l;

  color: $ak-color-light;

  flex-grow: 0;

  background-color: $ak-color-primary;
  border-top-left-radius: $ak-size-m;
  border-top-right-radius: $ak-size-m;

  border-bottom: 1px solid $ak-color-border;
}

.ak-card__title {
  flex-grow: 1;

  &:first-letter {
    text-transform: uppercase;
  }
}

.ak-card__amount {
  flex-grow: 0;
  display: flex;
}

.ak-card__content {
  padding: $ak-size-s $ak-size-l;
  flex-grow: 1;

  @include ak-flex-column();
}

.ak-card__action {
  padding-bottom: $ak-size-l;
  @include ak-flex-end();

  margin-top: auto;

  button, a {
    @include ak-button-tertiary();
    @include ak-flex-center();
  }
}
