@use "./decisions";
@use "./mixins/shadow";
@use "./mixins/utils";
@use "./button";

.ak-card {
  margin: 0 decisions.$ak-size-m;

  margin-bottom: decisions.$ak-size-l;
  min-height: 256px;

  background-color: decisions.$ak-color-light;
  border-radius: decisions.$ak-size-m;

  @include utils.ak-flex-column();

  @include shadow.ak-shadow-standard();
}

.ak-card__header {
  display: flex;
  align-items: center;
  padding: decisions.$ak-size-s decisions.$ak-size-l;

  color: decisions.$ak-color-light;

  flex-grow: 0;

  background-color: decisions.$ak-color-primary;
  border-top-left-radius: decisions.$ak-size-m;
  border-top-right-radius: decisions.$ak-size-m;

  border-bottom: 1px solid decisions.$ak-color-border;
}

.ak-card__title {
  flex-grow: 1;

  &:first-letter {
    text-transform: uppercase;
  }
}

.ak-card__amount {
  flex-grow: 0;
  display: flex;
}

.ak-card__content {
  padding: decisions.$ak-size-s decisions.$ak-size-l;
  flex-grow: 1;

  @include utils.ak-flex-column();
}

.ak-card__action {
  padding-bottom: decisions.$ak-size-l;
  @include utils.ak-flex-end();

  margin-top: auto;

  button, a {
    @include button.ak-button-tertiary();
    @include utils.ak-flex-center();
  }
}
