.ak-category {
  display: inline-block;

  font-size: 0.75rem;

  border: 1px solid $ak-color-border;
  border-radius: $ak-size-s;

  padding: $ak-size-xs $ak-size-s;

  background-color: #ddd;

  margin-top: $ak-size-m;
}
