.ak-badge {
  display: inline-block;

  font-size: $ak-size-m + $ak-size-s;

  border: 1px solid $ak-color-border;
  border-radius: $ak-size-s;

  padding: $ak-size-xs $ak-size-s;

  margin-top: $ak-size-m;

  @each $_hue in $ak-hues {
    $i: index($ak-hues, $_hue);
    &.ak-badge--#{$i} {
      background-color: ak-color(95, 80, $_hue);
    }
  }

  & + .ak-badge {
    margin-left: $ak-size-s;
  }

  &.ak-badge--negative {
    background-color: $ak-color-negative-light;
  }

  &.ak-badge--positive {
    background-color: $ak-color-positive-light;
  }
}
