@use "./decisions";
@use "sass:list";

.ak-badge {
  display: inline-block;

  font-size: decisions.$ak-size-m + decisions.$ak-size-s;

  border: 1px solid decisions.$ak-color-border;
  border-radius: decisions.$ak-size-s;

  padding: decisions.$ak-size-xs decisions.$ak-size-s;

  margin-top: decisions.$ak-size-m;

  border-bottom-width: decisions.$ak-size-xs;
  border-bottom-color: decisions.$ak-color-shadow;

  @each $_hue in decisions.$ak-hues {
    $i: list.index(decisions.$ak-hues, $_hue);
    &.ak-badge--#{$i} {
      background-color: decisions.ak-color(95, 80, $_hue);
      border-color: decisions.ak-color(75, 90, $_hue);
    }
  }

  & + .ak-badge {
    margin-left: decisions.$ak-size-s;
  }

  &.ak-badge--negative {
    background-color: decisions.$ak-color-negative-light;
    border-color: decisions.$ak-color-negative-normal;
  }

  &.ak-badge--positive {
    background-color: decisions.$ak-color-positive-light;
    border-color: decisions.$ak-color-positive-normal;
  }
}
