@import "~sass-planifolia/sass/math";
@import "~sass-planifolia/sass/color";

$ak-brand-hue: 250;

$_light-xxxs: 12;
$_light-xxs: 14;
$_light-xs: 16;
$_light-m: 40;
$_light-l: 50;
$_light-xl: 80;
$_light-xxl: 96;
$_light-xxxl: 99;

$_sat-xxs: 4;
$_sat-s: 10;
$_sat-m: 50;
$_sat-l: 70;
$_sat-xl: 90;
$_sat-xxl: 92;
$_sat-xxxl: 94;

@function ak-color($l, $s, $h) {
  @return lch($l, $s, $h, 'hsluv');
}

@function brand-color($l, $s) {
  @return ak-color($l, $s, $ak-brand-hue);
}

$ak-color-text: brand-color($_light-xs, $_sat-xl);
$ak-color-shadow: brand-color($_light-l, $_sat-s);
$ak-color-canvas: brand-color($_light-xxxl, $_sat-xxs);
$ak-color-background: brand-color($_light-xxl, $_sat-xxs);
$ak-color-background-form: brand-color($_light-xxxl, $_sat-xxs);
$ak-color-button-hover: brand-color($_light-xxs, $_sat-xxl);
$ak-color-button-active: brand-color($_light-xxxs, $_sat-xxxl);
$ak-color-border: brand-color($_light-xl, $_sat-xxs);
$ak-color-header: brand-color($_light-m, $_sat-m);

$ak-size-xs: 0.125rem;
$ak-size-s: 0.25rem;
$ak-size-m: 0.5rem;
$ak-size-l: 1rem;
$ak-size-xl: 2rem;
$ak-size-xxl: 3rem;
