@use "./decisions";
@use "./mixins/utils";

.ak-empty {
  flex-grow: 1;

  width: 100%;
  flex-direction: column;
  @include utils.ak-flex-center();

  & > .ak-empty__message {
    color: decisions.$ak-color-shadow;
    padding-top: decisions.$ak-size-m;
  }

  & > .ak-empty__svg {
    fill: decisions.$ak-color-border;
    width: 5rem;
    height: 5rem;
  }
}
