.ak-header {
  background-color: $ak-color-background-form;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: 30rem;

  box-shadow: 0 6px 4px -4px $ak-color-shadow;

  padding: $ak-size-m;

  & > * + * {
    margin-left: $ak-size-m;
  }

  & > .ak-header__title {
  }

  & > .ak-header__logo {
    height: $ak-size-xl;
  }

  & .ak-header__image {
    border-radius: 50%;
    height: $ak-size-xl;
  }

  & .ak-header__button {
    @include ak-button();
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  & > .ak-header__right {
    min-width: $ak-size-xl;
    min-height: $ak-size-xl;
  }

}

.ak-heading {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  & > .ak-heading__kicker {
    color: $ak-color-shadow;
  }
}
