.ak-header {
  background-color: $ak-color-light;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: 30rem;

  @include ak-shadow-standard();

  padding: $ak-size-m;

  & > * + * {
    margin-left: $ak-size-m;
  }

  & > .ak-header__logo {
    height: $ak-size-xl;
  }

  & .ak-header__image {
    border-radius: 50%;
    height: $ak-size-xl;
  }

  & .ak-header__button {
    @include ak-button();
    @include ak-flex-center();
    padding: 0;
  }

  & > .ak-header__right {
    min-width: $ak-size-xl;
    min-height: $ak-size-xl;
  }

  @each $_hue in $ak-hues {
    $i: index($ak-hues, $_hue);
    &.ak-header--#{$i} {
      background-color: ak-color(95, 80, $_hue);
    }
  }

}

.ak-heading {
  @include ak-flex-center();
  flex-direction: column;

  & > .ak-heading__kicker {
    color: $ak-color-shadow;

    font-size: $ak-size-m + $ak-size-s;
  }
}

@each $_hue in $ak-hues {
  $i: index($ak-hues, $_hue);
  .ak-wallet-#{$i} {
    fill: ak-color(75, 90, $_hue);
    stroke: ak-color(75, 90, $_hue);
  }
}
