.ak-header {
  background-color: $ak-color-background-form;

  position: relative;

  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
  max-width: 30rem;

  box-shadow: 0 6px 4px -4px $ak-color-shadow;

  padding: $ak-size-m;

  & > * + * {
    margin-left: $ak-size-m;
  }

  & > .ak-header__name {
    flex-grow: 1;
  }

  & > .ak-header__title {
    flex-grow: 0;
  }

  & > .ak-header__image {
    border-radius: 50%;
    flex-grow: 0;
    height: $ak-size-xl;
  }

  & > .ak-header__button {
    flex-grow: 0;
    @include ak-button();
  }

  & > .ak-header__right {
    flex-grow: 0;
    min-width: $ak-size-xl;
    min-height: $ak-size-xl;
  }

}
