.ak-icon {
  height: $ak-size-l;
  width: $ak-size-l;

  display: flex;
  align-items: center;
  justify-content: center;

  & > .ak-icon__svg {
    height: $ak-size-l;
  }

  & > .ak-icon--logo {

    &.ak-icon__svg {
      fill: transparent;
    }
  }

  &.ak-icon--positive {
    stroke: $ak-color-positive-strong;
  }

  &.ak-icon--negative {
    stroke: $ak-color-negative-strong;
  }

  &.ak-icon--indifferent {
    stroke: $ak-color-light;
  }

  &.ak-icon--small {
    height: 0.8rem;
    width: 0.8rem;

    & > .ak-icon__svg {
      height: 0.8rem;
    }
  }

  &.ak-icon--big {
    height: $ak-size-xl;
    width: $ak-size-xl;

    & > .ak-icon__svg {
      height: $ak-size-xl;
    }
  }
}
