.ak-icon {
  height: $ak-size-l;

  & > .ak-icon__svg {
    height: $ak-size-l;
  }

  & > .ak-icon--logo {

    &.ak-icon__svg {
      fill: transparent;
    }
  }

  &.ak-icon--positive {
    stroke: $ak-color-positive-strong;
  }

  &.ak-icon--negative {
    stroke: $ak-color-negative-strong;
  }

  &.ak-icon--indifferent {
    stroke: $ak-color-background-form;
  }
}
