@use "./decisions";
@use "./mixins/utils";

.ak-icon {
  height: decisions.$ak-size-l;
  width: decisions.$ak-size-l;

  stroke: decisions.$ak-color-dark;

  @include utils.ak-flex-center();

  & > .ak-icon__svg {
    height: decisions.$ak-size-l;
  }

  &.ak-icon--positive {
    stroke: decisions.$ak-color-positive-strong;
  }

  &.ak-icon--negative {
    stroke: decisions.$ak-color-negative-strong;
  }

  &.ak-icon--indifferent {
    stroke: decisions.$ak-color-light;
  }

  &.ak-icon--small {
    height: 0.8rem;
    width: 0.8rem;

    & > .ak-icon__svg {
      height: 0.8rem;
    }
  }

  &.ak-icon--big {
    height: decisions.$ak-size-xl;
    width: decisions.$ak-size-xl;

    & > .ak-icon__svg {
      height: decisions.$ak-size-xl;
    }
  }
}
