.ak-input {

  & > label {
    display: block;
    width: 100%;

    cursor: pointer;

    margin-bottom: $ak-size-s;
  }

  & > input {
    width: 100%;
    padding: $ak-size-m;

    font-size: inherit;
    font-family: inherit;
    line-height: inherit;
    color: inherit;
    background-color: inherit;

    border: none;

    border-bottom: 1px solid $ak-color-border;
  }

  &.ak-input--amount {

    & > label {
      margin: 0;
    }

    & > input {
      opacity: 0;
      height: 0;
      width: 0;
      padding: 0;
      border: 0;
    }
  }
}

.ak-amount {
  text-align: right;
  cursor: pointer;
}
