.ak-items {
  margin-top: $ak-size-l;
  min-height: 256px;

  background-color: $ak-color-background-form;
  border-radius: $ak-size-m;

  display: flex;
  flex-direction: column;

  box-shadow: 0 6px 4px -4px $ak-color-shadow;
}

.ak-item {
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  padding: $ak-size-m 0;

  & + .ak-item {
    border-top: 1px solid $ak-color-border;
  }

  & > .ak-item__what {
    flex-grow: 1;
    @include ak-button();
    text-align: left;
    padding: 0;
  }

  .ak-item__amount, .ak-item__remove {
    flex-grow: 0;
    margin-left: $ak-size-l;
  }
}

.ak-items__list {
  padding: $ak-size-s $ak-size-l;
  flex-grow: 1;
}

.ak-items__header {
  display: flex;
  align-items: center;
  padding: $ak-size-s $ak-size-l;

  color: $ak-color-background;

  flex-grow: 0;

  background-color: $ak-color-header;
  border-top-left-radius: $ak-size-m;
  border-top-right-radius: $ak-size-m;

  border-bottom: 1px solid $ak-color-border;
}

.ak-items__title {
  flex-grow: 1;
}

.ak-items__amount {
  flex-grow: 0;
}
