.ak-items {
  margin-top: 1rem;

  background-color: $ak-color-background-form;
  border-radius: 0.5rem;

  box-shadow: 0 6px 4px -4px $ak-color-shadow;
}

.ak-item {
  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;

  padding: 0.5rem 0;

  & + .ak-item {
    border-top: 1px solid $ak-color-border;
  }

  .ak-item__what {
    flex-grow: 1;
  }
  //
  //.ak-item__remove {
  //  @include ak-button();
  //
  //  background-color: $ak-color-background-form;
  //
  //  padding: 0.5rem;
  //
  //  border-radius: 0.25rem;
  //
  //  width: 2rem;
  //  height: 2rem;
  //
  //  box-shadow: 0 1px 1px 0 $ak-color-shadow;
  //}

  .ak-item__amount, .ak-item__remove {
    flex-grow: 0;
    margin-left: 1rem;
  }
}

.ak-items__list {
  padding: 0.25rem 1rem;
}

.ak-items__header {
  display: flex;
  align-items: center;
  padding: 0.25rem 1rem;

  background-color: $ak-color-header;
  border-top-left-radius: 0.5rem;
  border-top-right-radius: 0.5rem;

  border-bottom: 1px solid $ak-color-border;
}

.ak-items__title {
  flex-grow: 1;
}

.ak-items__amount {
  flex-grow: 0;
}
