.ak-layout {
  width: 100vw;
  height: 100vh;

  background-color: $ak-color-canvas;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  & > .ak-layout__main {
    height: 100vh;
    width: 100vw;

    max-width: 30rem;

    color: $ak-color-text;
    background-color: $ak-color-background;

    overflow-y: auto;
  }
}

.ak-form {
  border-bottom-left-radius: $ak-size-m;
  border-bottom-right-radius: $ak-size-m;

  background-color: $ak-color-background-form;

  box-shadow: 0 6px 4px -4px $ak-color-shadow;

  margin: 0 $ak-size-m $ak-size-l;

  & .ak-form__buttons {
    display: flex;

    & > * {
      flex-grow: 1;
    }

    & > *:first-child {
      border-bottom-left-radius: $ak-size-m;
    }

    & > *:last-child {
      border-bottom-right-radius: $ak-size-m;
    }
  }

  & .ak-form__inputs {
    padding: 0 $ak-size-l $ak-size-l;
  }
}

.ak-edit {

  & > .ak-edit__header {
    background-color: $ak-color-background-form;

    padding: $ak-size-s $ak-size-l;

    margin: 0 $ak-size-m;

    display: flex;
    align-items: center;

    & > *:first-child {
      flex-grow: 1;
    }

    & > *:last-child {
      flex-grow: 0;
      @include ak-button();
    }
  }
}

.ak-home {
  display: flex;
  flex-direction: column;

  height: 100vh;

  & > .ak-home__header {
    flex-grow: 0;
  }

  & > .ak-home__content {
    flex-grow: 1;

    overflow-y: auto;
  }
}
