.ak-layout {
  width: 100vw;
  height: 100vh;

  background-color: $ak-color-canvas;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;

  & > .ak-layout__header {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;

    color: $ak-color-background-form;
  }

  & > .ak-layout__main {
    height: 100vh;
    width: 100vw;

    max-width: 30rem;

    padding: 0 0.5rem;

    color: $ak-color-text;
    background-color: $ak-color-background;
  }
}

.ak-form {

  border-bottom-left-radius: 0.5rem;
  border-bottom-right-radius: 0.5rem;

  background-color: $ak-color-background-form;

  box-shadow: 0 6px 4px -4px $ak-color-shadow;

  & > .ak-form__buttons {
    display: flex;
    & > * {
      flex-grow: 1;
    }

    & > *:first-child {
      border-bottom-left-radius: 0.5rem;
    }

    & > *:last-child {
      border-bottom-right-radius: 0.5rem;
    }
  }

 & > .ak-form__inputs {
   padding: 0 1rem 1rem;
 }
}
