.ak-layout {
  width: 100vw;
  height: 100vh;

  background-color: $ak-color-light;

  @include ak-flex-center();

  flex-direction: column;

  overflow: hidden;

  & > .ak-layout__main {
    height: 100vh;
    width: 100vw;

    max-width: 30rem;

    color: $ak-color-dark;
    background-color: $ak-color-background;
  }
}

.ak-form {
  border-bottom-left-radius: $ak-size-m;
  border-bottom-right-radius: $ak-size-m;

  background-color: $ak-color-light;

  @include ak-shadow-standard();

  margin: 0 $ak-size-m $ak-size-l;

  & .ak-form__buttons {
    display: flex;

    & > * {
      flex-grow: 1;
    }

    & > *:first-child {
      border-bottom-left-radius: $ak-size-m;
    }

    & > *:last-child {
      border-bottom-right-radius: $ak-size-m;
    }
  }

  & .ak-form__inputs {
    padding: 0 $ak-size-l $ak-size-l;
  }
}

.ak-edit {

  & > .ak-edit__header {
    background-color: $ak-color-light;

    padding: $ak-size-s $ak-size-l;

    margin: 0 $ak-size-m;

    display: flex;
    align-items: center;

    & > *:first-child {
      flex-grow: 1;
    }

    & > *:last-child {
      flex-grow: 0;
      @include ak-button();
    }
  }
}

.ak-page {
  @include ak-flex-column();

  height: 100vh;

  & > .ak-page__header {
    flex-grow: 0;
  }

  & > .ak-page__content {
    flex-grow: 1;

    overflow-y: auto;
  }
}

.ak-home__footer {
  background-color: $ak-color-primary;
  color: $ak-color-light;
  padding: $ak-size-m;

  & > button {
    @include ak-button();
    text-decoration: underline;
  }
}

.ak-info {
  height: $ak-size-xl;
  width: $ak-size-xl;
  border: 2px solid $ak-color-light;

  border-radius: 50%;
  display: inline-flex;
  justify-content: center;
  align-items: center;

  margin-right: $ak-size-m;
}
