.ak-loading {
  height: 100%;
  width: 100%;

  @include ak-flex-center();
  flex-direction: column;
}

.ak-loading__svg {
  width: 70%;
  position: absolute;
}

#money1, #money2 {
  transform-origin: 50% 50%;
  animation: money 8s ease infinite;
}

@keyframes money {
  0% {
    transform: rotate(0deg);
  }
  20% {
    transform: rotate(504deg);
  }
  40% {
    transform: rotate(1008deg);
  }
  60% {
    transform: rotate(1512deg);
  }
  80% {
    transform: rotate(2016deg);
  }
  100% {
    transform: rotate(2520deg);
  }
}
