.ak-login {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: white;
}

.ak-login__mask {
  height: 30vh;
  background-image:
    linear-gradient(
        to top right,
        $ak-color-text, $ak-color-header
    );
  clip-path: ellipse(130% 65% at -5% 30%);

  flex-grow: 0;
}

.ak-login__logo-container {
  height: 10rem;
  width: 10rem;
  padding: 1rem;
  border-radius: 50%;
  background-color: $ak-color-background-form;
  box-shadow: 0px 18px 36px 0px $ak-color-shadow;

  margin: -6rem auto 0;
  position: relative;
}

.ak-login__form {
  flex-grow: 1;

  display: flex;
  flex-direction: column;

  text-align: center;
}

#door {
  transform-origin: 50% 60%;
  animation: toLock 8s ease-in-out 1s infinite;
}

#ceiling {
  animation: ceiling 8s ease-in-out 1s infinite;
}

#stripe {
  transform-origin: 18% 57%;
  animation: stripe 8s ease-in-out 1s infinite;
}

@keyframes stripe {
  10% {
    transform: rotate(-45deg);
  }
  50% {
    transform: rotate(-45deg);
  }
  60% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes ceiling {
  10% {
    transform: translateY(3%);
  }
  50% {
    transform: translateY(3%);
  }
  60% {
    transform: translateY(0%)
  }
  100% {
    transform: translateY(0%)
  }
}

@keyframes toLock {
  10% {
    transform: translateX(15%) rotate(-90deg);
  }
  50% {
    transform: translateX(15%) rotate(-90deg);
  }
  60% {
    transform: translateX(0%) rotate(0deg);
  }
  100% {
    transform: translateX(0%) rotate(0deg);
  }
}
