.ak-login {
  padding: 0 $ak-size-xxl;
  height: 70vh;

  & > .ak-login__form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;

    text-align: center;
  }

  & .ak-login__logo {
    display: block;
    width: 50%;
    align-self: center;
  }

  & .ak-login__something {
    flex-grow: 1;

    display: flex;
    flex-direction: column;


    color: $ak-color-canvas;
    background-color: $ak-color-header;

    clip-path: ellipse(100% 70% at 40% 5%);
    //filter: drop-shadow(0px 10px 4px $ak-color-shadow);
  }

}
