.ak-user-percentage {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.ak-user-percentage__legend {
  display: flex;
  justify-content: space-between;
}
.ak-user-percentage__bars {
  display: flex;
  margin-top: $ak-size-m;
}

.ak-user-percentage__bar {
  border-radius: $ak-size-s;
  min-width: $ak-size-xs;
  max-width: calc(100% - #{$ak-size-xl});
  height: $ak-size-l;

  &.ak-user-percentage__bar--negative {
    border-bottom: $ak-size-s solid $ak-color-negative-normal;
  }
  &.ak-user-percentage__bar--positive {
    border-bottom: $ak-size-s solid $ak-color-positive-normal;
  }
}

.ak-user-percentage__bar + .ak-user-percentage__bar {
  margin-left: $ak-size-s;
}
