<div class="ak-page">
  <ak-category-header class="ak-page__header">
    <header class="ak-heading">
      <small class="ak-heading__kicker">Overall</small>
      <h1 class="ak-heading__title">Overall</h1>
    </header>
  </ak-category-header>
  <div class="ak-edit  ak-page__content" *ngIf="overallStatistics">
    <section class="ak-form">
      <ol class="ak-card__content">
        <li class="ak-item  ak-item--recap">
          <div class="ak-item__what">
            <div class="ak-item-percentage  ak-item-percentage--negative"
                 [style.width]="percentage(allAppKeep)"></div>
            <div class="ak-item-percentage  ak-item-percentage--positive"
                 [style.width]="percentage(allIncome)"></div>
            <span class="ak-badge">all</span>
            <span class="ak-badge  ak-badge--positive">{{(allIncome + allAppKeep) | akAmount}}</span>
          </div>
          <div class="ak-item__amount">
            <div class="ak-item__amount-unit">
              <span>{{allAppKeep | akAmount}}</span>
              <ak-income-indicator [income]="false"></ak-income-indicator>
            </div>
            <div class="ak-item__amount-unit">
              <span>{{allIncome | akAmount}}</span>
              <ak-income-indicator [income]="true"></ak-income-indicator>
            </div>
          </div>
        </li>
        <li class="ak-item  ak-item--recap" *ngFor="let user of overallStatistics.users">
          <div class="ak-item__what">
            <div
              class="ak-item-percentage  ak-item-percentage--negative  ak-item-percentage--border-{{user.label | akUserHue}}"
              [style.width]="percentage(user.appKeepTotal)"></div>
            <div
              class="ak-item-percentage  ak-item-percentage--positive  ak-item-percentage--border-{{user.label | akUserHue}}"
              [style.width]="percentage(user.incomeTotal)"></div>
            <span class="ak-badge  ak-badge--{{user.label | akUserHue}}">{{user.label | akUserName}}</span>
            <span class="ak-badge  ak-badge--positive">{{(user.incomeTotal + user.appKeepTotal) | akAmount}}</span>
          </div>
          <div class="ak-item__amount">
            <div class="ak-item__amount-unit">
              <span>{{user.appKeepTotal | akAmount}}</span>
              <ak-income-indicator [income]="false"></ak-income-indicator>
            </div>
            <div class="ak-item__amount-unit">
              <span>{{user.incomeTotal | akAmount}}</span>
              <ak-income-indicator [income]="true"></ak-income-indicator>
            </div>
          </div>
        </li>
      </ol>
    </section>
    <ak-categories-card [incomeCategories]="overallStatistics.incomeCategories"
                        [appKeepCategories]="overallStatistics.appKeepCategories" title="Categories"></ak-categories-card>
    <ak-recap-card [recaps]="overallStatistics.years" year="years"></ak-recap-card>
  </div>
</div>
