@if (options$ | async; as options) {
  @if (categories$ | async; as categories) {
    <form class="ak-form" #form=ngForm>
      <div class="ak-form__inputs">
        <div class="ak-input  ak-input--amount">
          <label for="amount">Amount</label>
          <input name="amount" #amount id="amount"
            type="number" min="0" step="0.01" ngModel
            (keydown.enter)="$event.preventDefault(); what.focus()">
          <div class="ak-amount  ak-amount--big" (click)="amount.focus()">{{form.value.amount || 0 | akAmount}}</div>
        </div>
        <div class="ak-input">
          <label for="what">Description</label>
          <input id="what" #what name="title" ngModel (blur)="onChange(form.value,options,categories)"
            placeholder="i.e. groceries"
            list="addwhatlist" autocomplete="off"
            (keydown.enter)="onChange(form.value,options,categories); add(form.value, options, categories); form.reset();"
          >
          <datalist id="addwhatlist">
            @for (option of options; track option) {
              <option [value]="option.title"></option>
            }
          </datalist>
        </div>
      </div>
      <div class="ak-form__buttons">
        <button class="ak-button  ak-button--primary" type="submit"
          (click)="add(form.value, options, categories); form.reset();">
          <ak-icon type="add" mood="indifferent"></ak-icon>
          <span>Add</span>
        </button>
        <button class="ak-button" type="reset" (click)="form.reset();">
          <ak-icon type="reset"></ak-icon>
          <span>Reset</span>
        </button>
      </div>
    </form>
  }
}
