<div class="ak-layout">
  <main class="ak-layout__main">
    <router-outlet></router-outlet>
    <div class="ak-loading" *ngIf="loading$ | async">
      <div class="ak-loading__text">Loading...</div>
      <div class="ak-loading__svg">
        <svg viewBox="0 0 100 100">
          <defs>
            <symbol id="money" viewBox="0 0 100 100">
              <path d="M6 26 h 88 v 48 h -88 Z" fill="#00b550" stroke="#00a549" stroke-width="12">
              </path>
              <circle cx="50" cy="50" r="12" stroke="#d8ba4b" fill="#d8ba4b"/>
            </symbol>
          </defs>
          <use id="money1" href="#money" height="10" width="10" x="45" y="25"></use>
          <use id="money2" href="#money" height="10" width="10" x="45" y="65"></use>
        </svg>
      </div>
    </div>
  </main>
</div>
