<ng-container *ngIf="user$ | async; let user">
  <div class="ak-page">
    <div class="ak-page__header">
      <ak-category-header>
        <header class="ak-heading">
          <small class="ak-heading__kicker">Profile</small>
          <h1 class="ak-heading__title">{{user.firstName}}</h1>
        </header>
        <button class="ak-header__button" (click)="logout()">
          <ak-icon type="logout"></ak-icon>
        </button>
      </ak-category-header>
    </div>
    <div class="ak-page__content">
      <div class="ak-form">
        <fieldset class="ak-form__inputs">
          <legend class="ak-form__legend">Settings</legend>
          <div class="ak-input">
            <div class="ak-toggle">
              <span class="ak-toggle__label">Enable notifications</span>
              <input id="toggle" type="checkbox" class="visually-hidden" [checked]="subscribed$ | async"
                     (click)="subscribeToNotifications($event.target.checked)">
              <label for="toggle"></label>
            </div>
          </div>
          <div class="ak-input">
            <label for="friends">AppKeepers</label>
            <ul class="ak-users">
              <li class="ak-users__user" *ngFor="let current of users$ | async">
                <div class="ak-users__email">{{current.email}} <span *ngIf="current.email === user.email">(you)</span></div>
                <button class="ak-users__remove" (click)="removeUser(current)" *ngIf="current.email !== user.email">
                  <ak-icon type="close"></ak-icon>
                </button>
              </li>
              <li class="ak-users__user  ak-input__interactive">
                <div class="ak-users__email">
                  <input type="email" id="friends" placeholder="i.e. appkeeper@mail.com" [(ngModel)]="newUser"
                         (keydown.enter)="addUser()">
                </div>
                <button>
                  <ak-icon type="add"></ak-icon>
                </button>
              </li>
            </ul>
          </div>
        </fieldset>
      </div>
    </div>
  </div>
</ng-container>
