<ng-container *ngIf="user$ | async; let user">
  <div class="ak-page">
    <div class="ak-page__header">
      <ak-navigation-header>
        <header class="ak-heading">
          <small class="ak-heading__kicker">Profile</small>
          <h1 class="ak-heading__title">{{user.name}}</h1>
        </header>
        <button class="ak-header__button" (click)="logout()">
          <ak-icon type="logout"></ak-icon>
        </button>
      </ak-navigation-header>
    </div>
    <div class="ak-page__content">
      <div class="ak-form">
        <fieldset class="ak-form__inputs">
          <legend class="visually-hidden">Settings</legend>
          <div class="ak-input">
            <div class="ak-input__title">
              <div class="ak-organizer">
                <div class="ak-organizer__fill">Enable notifications</div>
                <div class="ak-toggle">
                  <input id="toggle" type="checkbox" [checked]="subscribed$ | async"
                         (click)="subscribeToNotifications($event.target.checked)">
                  <label for="toggle"></label>
                </div>
              </div>
            </div>
          </div>
          <div class="ak-input">
            <label for="name">Name</label>
            <input id="name" name="name" [(ngModel)]="user.name"
                   placeholder="i.e. Poppy"
                   autocomplete="off">
          </div>
          <div class="ak-input">
            <div class="ak-input__title">Colour</div>
            <div class="ak-input-hues">
              <div class="ak-input-hues__hue" *ngFor="let hue of [1,2,3,4,5,6,7,8]">
                <input class="visually-hidden" type="radio" name="hue" id="hue_{{hue}}"
                       [value]="hue" [(ngModel)]="user.hue">
                <label class="ak-hue-{{hue}}" for="hue_{{hue}}"></label>
              </div>
            </div>
          </div>
        </fieldset>
        <div class="ak-form__buttons">
          <button class="ak-button ak-button--primary" (click)="editUser(user)">
            <ak-icon size="small" type="save" mood="indifferent"></ak-icon>
            <span>Save</span>
          </button>
          <button class="ak-button">
            <ak-icon size="small" type="reset"></ak-icon>
            <span>Reset</span>
          </button>
        </div>
      </div>
      <ak-monthly-appkeeps-card></ak-monthly-appkeeps-card>
      <section class="ak-card" *ngIf="users$ | async; let users">
        <div class="ak-card__header">
          <div class="ak-card__title">Appkeepers</div>
        </div>
        <ol class="ak-card__content">
          <li class="ak-item" *ngFor="let current of users">
            <div class="ak-item__what  ak-user">{{current.email}} <span
              *ngIf="current.email === user.email">(you)</span></div>
            <button class="ak-item__action" *ngIf="current.email !== user.email">
              <ak-icon size="small" type="remove" (click)="removeUser(current)"></ak-icon>
            </button>
          </li>
          <li class="ak-item ak-input  ak-input__interactive">
            <div class="ak-item__what">
              <input type="text" id="friends" placeholder="i.e. appkeeper@mail.com" [(ngModel)]="newUser">
            </div>
            <button (click)="addUser(users)">
              <ak-icon type="add" size="small"></ak-icon>
            </button>
          </li>
        </ol>
      </section>
    </div>
  </div>
</ng-container>
