<ng-container *ngIf="options$ | async; let options">
  <ng-container *ngIf="categories$ | async; let categories">
    <div class="ak-page">
      <ak-category-header class="ak-page__header" [hue]="appKeep.category | akCategoryHue">
        <header class="ak-heading">
          <small class="ak-heading__kicker">AppKeep</small>
          <h1 class="ak-heading__title">{{appKeep.title}}</h1>
        </header>
      </ak-category-header>
      <div class="ak-edit  ak-page__content">
        <form class="ak-form">
          <fieldset class="ak-form__inputs">
            <legend class="visually-hidden"></legend>
            <div class="ak-input">
              <label for="amount">Amount</label>
              <input name="amount" #amount id="amount" type="number" min="0" step="0.01" [(ngModel)]="appKeep.amount">
            </div>
            <div class="ak-input">
              <label for="what">Title</label>
              <input id="what" #what name="title" [(ngModel)]="appKeep.title" (change)="onChange(options)"
                     placeholder="Description" list="whatlist"
                     autocomplete="off">
              <datalist id="whatlist">
                <option *ngFor="let option of options" [value]="option.title"></option>
              </datalist>
            </div>
            <div class="ak-input">
              <label for="date">Date</label>
              <input id="date" #date name="date" type="date"
                     [ngModel]="appKeep.date | date: 'yyyy-MM-dd'"
                     (ngModelChange)="toDate($event)">
            </div>
            <div class="ak-input">
              <label for="category">Category</label>
              <input id="category" #category name="category" [(ngModel)]="appKeep.category" placeholder="Category"
                     list="categorylist" autocomplete="off">
              <datalist id="categorylist">
                <option *ngFor="let category of categories" [value]="category"></option>
              </datalist>
            </div>
            <div class="ak-input">
              <label for="payer">Payer</label>
              <input id="payer" #payer name="payer" [(ngModel)]="appKeep.user" placeholder="Payer"
                     list="payerlist" autocomplete="off">
              <datalist id="payerlist" *ngIf="users$ | async; let users">
                <option *ngFor="let user of users" [value]="user"></option>
              </datalist>
            </div>
          </fieldset>
          <div class="ak-form__buttons">
            <button class="ak-button  ak-button--primary" (click)="edit(options, categories)">Edit</button>
            <button class="ak-button" (click)="delete()">Delete</button>
          </div>
        </form>
      </div>
    </div>
  </ng-container>
</ng-container>
