@mixin visually-hidden() {
  position: absolute;
  width: 1px !important;
  height: 1px !important;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);

  margin: 0;
}

@mixin ak-flex-center() {
  & {
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

@mixin ak-inline-flex-center() {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

@mixin ak-flex-end() {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

@mixin ak-flex-column() {
  display: flex;
  flex-direction: column;
}

@mixin ak-transition() {
  transition: transform 0.2s ease-in-out;
}
