@if (categories$ | async; as categories) {
  <ak-card [total]="total" [title]="when" [indicator]="true">
    <ol class="ak-card__content">
      @for (appKeep of appKeeps; track appKeep) {
        <li class="ak-item"
          [ngClass]="{'ak-item--updating': appKeep._updating}">
          <a class="ak-item__what" routerLink="/edit/{{appKeep._id}}">
            <div>{{appKeep.title}}</div>
            <span class="ak-badge  ak-badge--{{hue || (appKeep.category | akCategoryHue: categories)}}">
              @if (showDate) {
                <span>{{appKeep.date | date: 'EEE dd'}}</span>
              }
              @if (!showDate) {
                <span>{{appKeep.category | lowercase}}</span>
              }
            </span>
            <span class="ak-badge  ak-badge--{{appKeep.user | akUserHue}}">
              {{appKeep.user | akUserName}}
            </span>
          </a>
          @if (appKeep._updating) {
            <div class="ak-item__editing">updating...</div>
          }
          <div class="ak-item__amount">
            <span>{{appKeep.amount * (appKeep.income ? 1 : -1) | akAmount}}</span>
            <ak-income-indicator [income]="appKeep.income"></ak-income-indicator>
          </div>
        </li>
      }
    </ol>
  </ak-card>
}
